* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Tahoma', sans-serif;
    background-attachment: fixed;
    flex-direction: column;
    min-height: 100;
    margin: 0;
    cursor: default;
}
body::before{
  content:"";
  position: fixed;
  inset: 0;
  background: (0,0,0,.5); /* dim strength */
  pointer-events: none;       /* clicks go through */
  /* no z-index needed; it's above the background by default */
}

